project_id   = "my-project-colegios-chile"
region       = "us-central1"
zone         = "us-central1-a"
machine_type = "e2-micro"
repo_url     = "https://github.com/rasgdev/colegios-chile.git"
repo_branch  = "main"
db_password  = "CAMBIA-ESTE-PASSWORD"